{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Hi there! I'm Dev Singh, a fourth-year student pursuing a Bachelor's in Computer Science.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          <b>Background:</b> Originally from Gurugram, I've always been fascinated by the world of technology and its endless possibilities. My journey into the realm of coding and gaming began at a young age and has only intensified over the years.
        </p>
        <p>
          <b>Academic Pursuits:</b> Currently, I'm deeply engrossed in my studies, navigating through the challenges and adventures of pursuing a degree in Computer Science. Each day brings new opportunities to learn and grow, and I'm excited to see where this journey takes me.
        </p>
        <p>
          <b>Interests:</b> Beyond academia, I'm passionate about various activities that enrich both my mind and body. Gaming has been a lifelong passion, serving as a source of entertainment, creativity, and even inspiration for my coding endeavors. When I'm not immersed in lines of code or battling virtual foes, you'll likely find me hitting the gym, honing my physique and maintaining a healthy lifestyle. And of course, no day is complete without savoring delicious meals that fuel my adventures both in-game and in real life.
        </p>
        <p>
          <b>Connecting with Me:</b> If you share similar interests or simply want to connect, feel free to reach out! Whether it's discussing the latest gaming trends, exchanging coding tips, swapping workout routines, or sharing favorite recipes, I'm always eager to engage with like-minded individuals. You can find me on social media platforms or drop me a message through the contact form below.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
